.title {
  color: var(--white);
  text-align: center;
  padding: 40px;
}

.container,
.addTask {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}

.addTask {
  background-color: var(--bgclt);
  padding-bottom: 20px;
  margin-top: 40px;
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}

.wrap {
}

.tCheckbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  background-color: transparent;
  position: relative;
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 2px;
}

.tCheckbox:checked:before {
  content: "v";
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.taskTitle {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.tCheck {
  width: 10%;
  display: flex;
  align-items: center;
}

.tName,
.tDes,
.tStatus,
.tTime {
  width: 25%;
  display: flex;
  align-items: center;
}

.count {
  display: flex;
  justify-content: center;
}

.form {
  margin: 0 auto;
  width: 280px;
}

.addItem {
  margin: 15px;
}

.input {
  background-color: transparent;
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: 1px solid var(--main);
  outline: none;
  color: var(--white);
  line-height: 18px;
  text-indent: 10px;
}

.input::placeholder {
  color: var(--main);
  line-height: 18px;
}

.textarea {
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid var(--main);
  outline: none;
  color: var(--white);
  line-height: 18px;
  text-indent: 10px;
}

.textarea::placeholder {
  color: var(--main);
  line-height: 18px;
}

.error {
  color: var(--red);
}

@media screen and (max-width: 993px) {
  .tName,
  .tStatus,
  .tDes,
  .tTime {
    width: 50%;
  }

  .tDes,
  .tTime,
  .text {
    display: none;
  }
}
